<div id="kt_app_footer" class="app-footer ">
    <!--begin::Footer container-->
    <div
        class="app-container  container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2023&copy;</span>
            <a href="https://github.com/htetpyie/Hangfire-with-AspDotNetCore" target="_blank"
               class="text-gray-800 text-hover-primary text-decoration-none">
                Hangfire App with Asp Dot Net Core
            </a>
        </div>
        <!--end::Copyright-->

    </div>
    <!--end::Footer container-->
</div>