@model ResponseModel
@{
    Layout = LayoutServices.GetAppLayout;
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
<!--begin::Content-->
<div id="kt_app_content" class="app-content  flex-column-fluid ">
<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container  container-xxl ">
<!--begin::Row-->
    <div class="row g-5 g-xl-10">
        <div class="col-xl-4 mb-xl-10">
           @await Html.PartialAsync("CronList",Model.CronResponse)
        </div>
        <div class="col-xl-8 mb-5 mb-xl-10">
         @await Html.PartialAsync("BlogTable",Model.BlogListResponse)
        </div>
    </div>
    <!--end::Row-->
    </div>
<!--end::Content container-->
</div>
<!--end::Content-->
</div>
<!--end::Content wrapper-->

@* <div class="container mt-3"> *@
@*     <h2>Hangfire Example</h2> *@
@* *@
@*     
@* *@
@*     @await Html.PartialAsync("BlogTable",Model) *@
@* *@
@*     <h5 class="mt-4">Job Ids</h5> *@
@*     $1$ <ol class="mt-2"> #1# *@
@*     $1$     @foreach (var item in Model) #1# *@
@*     $1$     { #1# *@
@*     $1$         <li>@item.JobId || @item.MethodName</li> #1# *@
@*     $1$     } #1# *@
@*     $1$ </ol> #1# *@
@* </div> *@
